<div nz-row>
    <div  style="margin-left: 1%;">Score:  {{correctedPercentage}}%</div>
    <div style="margin-left: 70%;" >Max Score: {{probCorrectedPercentage}}%</div>

</div>
<div nz-row style="width: 100%; height: 20px;padding: 1px;; border: 1px solid yellow; position: relative; ">
    
    <div nz-col [style.width.%]="correctedPercentage" class="one">

    </div>
    <div nz-col class="second"  [style.width.%]="probCorrectedPercentage"></div>

    <div nz-col class="third" [style.width.%]=" probWrongPercetage"></div>


</div>
